{% extends "layout.html" %}

{% block title %}
    Create new Survey
{% endblock %}

{% block content %}
    <div class="max-w-3xl max-h-full mx-auto mt-10 px-3 py-6 md:px-6 rounded-lg">
        <h2 class="text-2xl font-extrabold text-gray-100 mb-6 text-start">
            Create Survey
        </h2>

        <form method="post" class="space-y-4">
            {% csrf_token %}
            <!-- Title -->
            <div>
                <label for="title" class="block text-sm font-medium text-gray-200">
                    Title
                </label>
                <input type="text" id="title" name="title" 
                    class="w-full mt-2 px-4 py-2 rounded-md shadow-sm outline-none   border border-gray-600 bg-gray-800 text-gray-300" 
                    placeholder="Enter your title" required>
            </div>

            <div class="flex justify-end w-full">
                <button type="submit" class="bg-blue-500 text-white font-medium px-4 py-2 rounded-md">
                    Create
                </button>
            </div>
        </form>
    </div>
{% endblock %}