{% extends "layout.html" %}

{% block title %}
    Welcome, {{ user.username }}
{% endblock %}

{% block content %}
    <div class="w-full h-full lg:max-w-[90%] mx-auto px-0 lg:px-6 py-8">
        <!-- Welcome Header -->
        <h1 class="text-3xl md:text-5xl text-gray-200 font-extrabold">
            Welcome, {{ user.first_name }} {{ user.last_name }}!
        </h1>
        <p class="mt-4 text-gray-400 text-sm md:text-lg">
            We're glad to have you here. Create engaging surveys and explore results with ease.
        </p>

        <!-- Call to Action -->
        <div class="mt-6">
            <a href="{% url "create_survey" %}" class="bg-green-600 text-white font-medium py-3 px-5 rounded text-lg cursor-pointer">
                Start a new Survey
            </a>
        </div>

        <!-- Dashboard Section -->
        <div class="mt-10">
            <h2 class="text-xl md:text-2xl font-bold text-gray-100">
                Your Surveys
            </h2>
            <div class="mt-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for survey in surveys %}
                    <div class="bg-slate-950 p-5 rounded-lg shadow-md space-y-3 w-full flex flex-col items-start justify-between">
                        <div>
                            <a href="{% url "get_survey_by_id" survey.id %}">
                                <h3 class="text-lg font-medium text-gray-300">
                                    {{ survey.title }}
                                </h3>
                            </a>
                            <p class="text-blue-500">
                                CreatedAt: {{survey.created_at}}
                            </p>
                        </div>

                        <div class="flex items-center justify-end space-x-2 mt-4 w-full">
                            <a href="{% url "add_question" survey.id %}" class="bg-blue-500 text-white font-medium py-1.5 px-4 rounded">
                                Edit
                            </a>
                            <a href="{% url "delete_survey_by_id" survey.id %}" class="bg-red-500 text-white font-medium py-1.5 px-4 rounded">
                                Delete
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-gray-400 text-sm md:text-lg">
                        You don't have any surveys yet. Create one to get started!
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
